@model Inmobiliaria_DotNet.Models.Inmueble

@{
    ViewData["Title"] = "DetallesInmueble";
}

<a asp-action="Index" class="btn btn-sm btn-light mb-3">
    <i class="fa-solid fa-chevron-left"></i> Volver a la lista
</a>

<h1>Detalles del Inmueble</h1>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Inmueble</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <p class="card-text"><strong>@Html.DisplayNameFor(model => model.idInmueble)</strong></p>
                <p class="card-text">@Html.DisplayFor(model => model.idInmueble)</p>
            </div>
            <div class="col-md-4">
                <p class="card-text"><strong>@Html.DisplayNameFor(model => model.Disponibilidad)</strong></p>
                <p class="card-text">@Html.DisplayFor(model => model.Disponibilidad)</p>
            </div>
            <div class="col-md-4">
                <p class="card-text"><strong>@Html.DisplayNameFor(model => model.Precio)</strong></p>
                <p class="card-text">@Html.DisplayFor(model => model.Precio)</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <p class="card-text"><strong>@Html.DisplayNameFor(model => model.PropietarioInmueble)</strong></p>
                <p class="card-text">@Html.DisplayFor(model => model.PropietarioInmueble)</p>
            </div>
            <div class="col-md-4">
                <p class="card-text"><strong>@Html.DisplayNameFor(model => model.Direccion)</strong></p>
                <p class="card-text">@Html.DisplayFor(model => model.Direccion)</p>
            </div>
            <div class="col-md-4">
                <p class="card-text"><strong>@Html.DisplayNameFor(model => model.TipoInmueble)</strong></p>
                <p class="card-text">@Html.DisplayFor(model => model.TipoInmueble)</p>
            </div>
        </div>
    </div>
</div>
