@model Inmobiliaria_DotNet.Models.Contrato

@{
    ViewData["Title"] = "AltaContrato";
   	var listaInquilinos = (IList<Inquilino>)ViewBag.Inquilino;
   	var listaPropietarios = (IList<Propietario>)ViewBag.Propietario;
   	var listaInmuebles = (IList<Inmueble>)ViewBag.Inmueble;
}

<h1>AltaContrato</h1>

<h4>Contrato</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AltaContrato">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FechaInicio" class="control-label"></label>
                <input asp-for="FechaInicio" class="form-control" />
                <span asp-validation-for="FechaInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaFin" class="control-label"></label>
                <input asp-for="FechaFin" class="form-control" />
                <span asp-validation-for="FechaFin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InmuebleId" class="control-label">Inmueble</label>
                <select class="form-control" name="InmuebleId">
					<option value="" disabled selected>Seleccione un inmueble</option>
					@foreach (var item in listaInmuebles)
					{
						<option value="@item.idInmueble">@(item.ToString())</option>
					}
				</select>
            </div>
            <div class="form-group">
                <label asp-for="InquilinoId" class="control-label">Inquilino</label>
                <select class="form-control" name="InquilinoId">
					<option value="" disabled selected>Seleccione un inquilino</option>
					@foreach (var item in listaInquilinos)
					{
						<option value="@item.idInquilino">@(item.ToString())</option>
					}
				</select>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Activo" checked/> @Html.DisplayNameFor(model => model.Activo)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

