@model Inmobiliaria_DotNet.Models.Contrato

@{
	ViewData["Title"] = "DetallesContrato";
}

<a asp-action="Index" class="btn btn-sm btn-light">
	<i class="fa-solid fa-chevron-left"></i> Volver a la lista
</a>

<h1>DetallesContrato</h1>

<div>
	<h4>Contrato</h4>
	<hr />
	<dl class="row">
		<dt class = "col-sm-2">
			@Html.DisplayNameFor(model => model.idContrato)
		</dt>
		<dd class = "col-sm-10">
			@Html.DisplayFor(model => model.idContrato)
		</dd>
		<dt class = "col-sm-2">
			@Html.DisplayNameFor(model => model.FechaInicio)
		</dt>
		<dd class = "col-sm-10">
			@Html.DisplayFor(model => model.FechaInicio)
		</dd>
		<dt class = "col-sm-2">
			@Html.DisplayNameFor(model => model.FechaFin)
		</dt>
		<dt class = "col-sm-2">
			@Html.DisplayNameFor(model => model.Monto)
		</dt>
		<dd class = "col-sm-10">
			@Html.DisplayFor(model => model.FechaFin)
		</dd>
		<dt class = "col-sm-2">
			@Html.DisplayNameFor(model => model.InmuebleId)
		</dt>
		<dd class = "col-sm-10">
			@Html.DisplayFor(model => model.InmuebleId)
		</dd>
		<dt class = "col-sm-2">
			@Html.DisplayNameFor(model => model.InquilinoId)
		</dt>
		<dd class = "col-sm-10">
			@Html.DisplayFor(model => model.InquilinoId)
		</dd>
		<dt class = "col-sm-2">
			@Html.DisplayNameFor(model => model.Activo)
		</dt>
		<dd class = "col-sm-10">
			@Html.DisplayFor(model => model.Activo)
		</dd>
	</dl>
</div>
